<img src="../../../assets/images/minnie/minnie-chibi-happy.png" alt="Minnie Chibi" class="chibi-decoration right">
<img src="../../../assets/images/minnie/minnie-chibi-excited.png" alt="Minnie Chibi" class="chibi-decoration left">

@if (friend) {
    <div class="tribute" [style.background-color]="friend.backgroundColor">
        <div class="container">
            <button class="back-button" (click)="goBack()">
                ← Voltar
            </button>

            <div class="tribute-content">
                <div class="friend-photo-container">
                    <img [src]="friend.photo" [alt]="friend.name" class="friend-photo">
                    <div class="photo-frame"></div>
                </div>
            </div>

            @if (availableYears.length > 0) {
                <div class="history-container">
                    <h3 [style.color]="friend.textColor">Histórico de Mensagens</h3>

                    <div class="year-navigation">
                        @for (yearBtn of availableYears; track yearBtn) {
                            <button (click)="changeYear(yearBtn)" [class.active]="year === yearBtn">
                                {{ yearBtn }}
                            </button>
                        }
                    </div>

                    @if (messages.length > 0) {
                        <div class="message-container">
                            @for (message of messages; track message) {
                                <div>
                                    <h3 [style.color]="friend.textColor">Feliz Aniversário</h3>
                                    <p class="friend-message historic-message"
                                       [style.color]="friend.textColor">{{ message.text }}</p>
                                </div>
                            }
                        </div>
                    } @else {
                        <p [style.color]="friend.textColor">Nenhuma mensagem encontrada para {{ year }}.</p>
                    }
                </div>
            }

            <div class="navigation-buttons">
                @if (previousFriendId) {
                    <button class="nav-button prev" (click)="previousFriend()"
                            [style.background-color]="friend.textColor">
                        ← {{ getPreviousFriendName() }}
                    </button>
                }

                @if (nextFriendId) {
                    <button class="nav-button next" (click)="nextFriend()" [style.background-color]="friend.textColor">
                        {{ getNextFriendName() }} →
                    </button>
                }
            </div>
        </div>

    </div>
} @else {
    <div class="loading">
        <div class="loading-spinner"></div>
        <p>Carregando...</p>
    </div>
}